.contenedor {
    display: flex;

  }
  
   div {
    margin: auto;
    padding: 6vw;
    font-size: 30px;
  }

  body {
    background-image: url(images/ac.jpg);
  }

  #backmantelGrande {
      background-image: url(images/back_mantel.jpg);
  }

  #backmantelGrande2 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url(images/back_mantel.jpg);
    border: 1px solid black;
}

#backmantelGrande3 {
    background-size: 100% 100%;
    background-image: url(images/back_mantel.jpg);
}

  #backmantelGrande4 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: beige;
    background-image: url(images/back_mantel.jpg);
}

  #dhGrande {
    background-image: url(images/dh.jpg);
}
#dhGrande2 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-image: url(images/dh.jpg);
}
#dhGrande3 {
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-image: url(images/dh.jpg);
}
#dhGrande4 {
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-image: url(images/dh.jpg);
}

#backmantelGrande {
    background-image: url(images/back_mantel.jpg);
}

#color {
    background-color: green;
    background-image: linear-gradient(to left, green , greenyellow);
}

#color1 {
    background-color: #8c631b; 
    background-image: linear-gradient(#8c631b, brown); 
}

#color2 {
    background-color: #b4eda8; 
    background-image: linear-gradient(#b4eda8, green); 
}

#color3 {
    background-image: linear-gradient(to bottom left, rgba(255,0,0,0), rgba(59, 105, 12));
}