table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #centrarh2 {
    text-align: center;
  }

  #centrar {
      text-align: center;
      background-color: darkseagreen;
  }

  #colorred {
      color: red;
  }

  #rosa {
      background-color: #df1aed;
      text-align: left;
  }

  #cian {
    background-color: #16d9d9;
    text-align: right;
}

