table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

  #azulverde {
      background-color: #0ddb7b;
  }

  #azulverde2 {
    background-color: #1aad69;
}

#titulo {
    background-color: #085431;
    color: #00ff89;
}